/* body {
    background-color: mediumpurple;
    max-width       : 800px; 
    margin          : auto;
} */

/* Wozu gehört das? */
/* .playMemory {
    padding         : 10px;
    background      : white;
    color           : #000000;
    border          : 2px solid white;
    /* border-radius: 5px; 
    font-size       : 16px;
    font-family     : Georgia, 'Times New Roman', serif;
} */

* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(#9e45f1, #530c69);
    max-width : 1000px;
    margin    : auto
}

html {
    min-height: 100vh;
    /*damit der hintergrund farbverlauf funktioniert*/
}

/*@font-face {

    font-family: "Catamaran";
    src        : url("/Catamaran/static/Catamaran-Bold.ttf") format("ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Catamaran";
    src        : url("/Catamaran/static/Catamaran-Thin.ttf") format("ttf");
    font-weight: 300;
}*/

/* START-SEITE */
#title {
    margin-top: 160px;
}

.title1,
.title2 {
    font-family: sans-serif;
    text-align : center;
    font-size  : 90px;
    padding    : 10px;
    background : white;
    color      : #000000;
    width      : 300px;
    display    : inline-block;
    margin     : 0 20px 20px 20px;
}

#letsPlay {
    display: inherit;
    margin : auto;
    width  : fit-content;
}

.title2 {
    display: inherit;
    margin : auto;
    width  : 450px;
}


#navibereich {
    /* display    :  */
    /* /* margin  : 0 20px 20px 20px;  */
    position: absolute;
}

#play,
#score,
#admin {
    /* https://stackoverflow.com/questions/4797748/can-i-put-an-html-button-inside-the-canvas */
    /* z-index: 2;  */
    font-family    : sans-serif;
    text-align     : center;
    font-size      : 16px;
    padding        : 10px;
    background     : white;
    color          : #000000;
    display        : inline-block;
    margin         : 120px 0px 0px 0px;
    width          : 160px;
    text-decoration: none;
}

#play {
    margin-left: 230px;
}

#score {
    margin-left: 20px;
}

#admin {
    margin-left: 20px;
}

/* HoverEffekt
https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
#play:hover,
#score:hover,
#admin:hover {
    transition       : all 0.4s ease;
    background-color : rgb(251, 255, 0);
    -webkit-transform: scale(1.1);
    -ms-transform    : scale(1.1);
    transform        : scale(1.1);
}

/*Canvas
https://stackoverflow.com/questions/2719668/an-html5-canvas-element-in-the-background-of-my-page */
#myFirstCanvas {
    /* border: 3px solid black; */

    /*Das es hinter dem Text ist*/
    position: fixed;
    /*sitzt linkt oben*/
    top     : 0;
    left    : 0;
    /*füllt den ganzen Bildschirm aus*/
    /* width: -webkit-fill-available; */
    /* width: 1600px;
    height  : 400px; */

    /* z-index: 1; */
}


/* PLAY-SEITE */
.headline {
    font-family: sans-serif;
    text-align : center;
    font-size  : 20px;
    padding    : 5px;
    background : white;
    color      : #000000;
    width      : 400px;
    display    : inline-block;
    margin     : 50px 0 0 290px;
}

.gameinfo {
    font-family: sans-serif;
    color      : white;
    font-size  : 20px;
}

body .cards{
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#displayOutput .cards{
    display: inline-block;
    margin-right: 10px;
}

body .turnAround {
    /*alle turnAround in body werden angesprochen*/
    background: rgb(224, 245, 39);
}

.game,
#cardStorage {
    display              : grid;
    grid-template-columns: repeat(4, auto);
    grid-gap             : 10px;
    margin               : 50px;
    justify-content      : center;

}

#cardStorage div {
    height: 150px;
    width : 150px;
}

.gameinfos {
    grid-column    : 1 / -1;
    display        : flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .game {
        grid-template-columns: repeat(2, auto);
    }

    .gameinfos {
        /* https://stackoverflow.com/questions/58476579/css-aligning-boxes-next-to-each-other */
        flex-direction: column;
        align-items   : center;
    }
}

/*.pair_0 {
    background-image: url("Images/raccoon.jpg");
    transform       : rotateY(180deg)
}

.pair_1 {
    background-image: url("Images/chicken.jpg");
    transform       : rotateY(180deg)
}

.pair_2 {
    background-image: url("Images/dogBubble.jpg");
    transform       : rotateY(180deg)
}

.pair_3 {
    background-image: url("Images/dogGangsta.jpg");
}

.pair_4 {
    background-image: url("Images/dogTounge.jpg");
}

.pair_5 {
    background-image: url("Images/frog.jpg");
}

.pair_6 {
    background-image: url("Images/rat.jpg");
}

.pair_7 {
    background-image: url("Images/tele.jpg");
}

#home {
    text-decoration: none;
    color          : white;
    margin         : 0 130px 0 0;
}*/

/* Flip on click */
.cards {
    width          : 100%;
    height         : 100%;
    position       : relative;
    transition     : transform 1s;
    transform-style: preserve-3d;
}

/* .turnAround { //siehe weiter oben
    background: red;
  } */

/* .turnForward { //siehe oben - transform hinzugefügt
    background: blue;
    transform: rotateY( 180deg );
  } */

/* .card.is-flipped {
    transform: rotateY( 180deg )
} */